# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Jupyter Notebook
.ipynb_checkpoints

# PyTorch
*.pt
*.pth

# Output files
output/
checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Wandb
wandb/
